*.optrpt
*.orig*
*~*
*#*
*.o
src/see
src/see2
src/see3
src/run
src/patatrac
src/postpro
/examples/**/conf*
!imconfig.h
*kineticEnergy.txt
*perf.txt
*staticBalance.txt
prepro/shapesurvey/shapeSurvey
prepro/converters/stl2shape/stl2shape
prepro/genesis/cpptools/generator
simuls*
*.DS_Store
doc/html
sphinxdoc/build/*
.vscode
src/imgui/examples
*imgui.ini
