*.optrpt
*.orig*
*~*
*#*
*.o
src/bin/see
src/bin/see2
src/bin/see3
src/bin/run
src/bin/patatrac
src/bin/postpro
src/bin
src/lib
deps
common/*
/examples/**/conf*
/examples/**/*.png
/examples/**/*.tga
/examples/**/*.mp4
!imconfig.h
*kineticEnergy.txt
*perf.txt
*staticBalance.txt
*extractedDataDoc.txt
simuls*
*.DS_Store
doc/html
sphinxdoc/build/*
.vscode
src/imgui/examples
*imgui.ini
*see.json
perflog*
#conf*
!examples/**/input.txt
BUILD
INSTALL
